{% extends 'layout.html' %}

{% block content %}
<!-- main.html -->
    <div class="timeline">
        
        {% if user %}
        <!-- 로그인 상태일때 트윗 작성 -->
            <div>
                <form id="twit-form" action="/post" method="post" enctype="multipart/form-data">
                    <!-- twit -->
                    <div class="input-group">
                        <textarea name="content" id="twit" maxlength="140" rows="5" cols="80" required></textarea>
                    </div>
                    
                    <!-- 이미지 미리보기 -->
                    <div class="input-preview">
                        <img id="img-preview" src="" alt="미리보기" style="display:none;" width="150">
                        <input id="img-url" type="hidden" name="url"> 
                    </div>
                    
                    <!-- 이미지 업로드 -->
                    <div class="twit-img-upload">
                        <label id="img-label" for="img">이미지 업로드</label>
                        <input id="img" class="input-img" type="file" accept="image/*" >
                        <!-- accept 속성은 서버로 업로드할 수 있는 파일의 타입을 명시합니다. 
                             image/* : 모든 타입의 이미지 파일이 허용됨.
                        -->
                        <button id="twit-btn" type="submit" class="btn">등록</button>
                    </div>
                </form>
            </div>
        {% endif %}
        
        <!-- 로그인 & 로그아웃 상태일때  -->
        <!-- 검색창 -->
        <div class="hashtag-search">
            <div>
                <a href="/" class="btn">전체목록</a>
            </div>
            <div>
                <form id="hashtag-form" action="/hashtag">
                    <input type="text" name="hashtag" placeholder="태그 검색">
                    <button class="btn">검색</button>
                </form>
            </div>
        </div>
        
        <!-- 트윗들 반복 -->
        {% for twit in twits %}
            <div class="twit">
                <div class="twit-group">

                    <!-- 작성자  -->
                    <div class="twit-author-group">
                        
                        <!-- 작성자 id -->
                        <input type="hidden" value="{{twit.postUserId}}" class="twit-user-id">
                        
                        <!-- 글 id -->
                        <input type="hidden" value="{{twit.id}}" class="twit-id">
                        <div class="twit-author">
                            <a href="/{{twit.postUserId}}/get">{{twit.postUserNick}}</a>
                        </div>
                        
                        <!-- 팔로우 리스트에 없는 아이디일 경우 & 본인이 아닐경우 -->
                        {% if not followingIdList.includes(twit.postUserId) and twit.postUserId !== user.id %}
                            <button class="twit-follow btn">팔로우 하기</button>
                        {% endif %}
                    </div>
                    
                    <!-- 글 -->
                    <div class="twit-content-group twit-{{twit.id}}">
                        <input type="hidden" class="twit-content-txt" value="{{twit.content}}">
                        <p class="twit-content">{{twit.content}}</p>

                        <!----------------------------------
                            글 수정 : 텍스트 수정
                        ------------------------------------>
                        <div class="change-content-div twit-content-{{twit.id}}">
                            <textarea class="change-content" id="twit" maxlength="140" rows="5" cols="80" required></textarea>
                        </div>

                        <!-- 이미지가 있을 경우 -->
                        {% if twit.img %}
                            <div class="twit-img">
                                <img src="{{twit.img}}" alt="섬네일" width="150">
                            </div>

                            <!----------------------------------
                                글 수정 : 이미지 수정(기존 이미지 O)
                            ------------------------------------>
                            <div class="twit-update-img twit-img-{{twit.id}}">
                                <input class="changeOrNewImg" type="hidden" value="changeImg"> 
                                
                                <img id="change-img-preview" src="{{twit.img}}" alt="섬네일" width="150">
                                <input id="change-img-url" type="hidden" value="{{twit.img}}"> 
                                
                                <div class="twit-img-upload">
                                    <label id="img-label" for="twit-inputimg-{{twit.id}}">이미지 수정</label>
                                    <input id="twit-inputimg-{{twit.id}}" class="change-img input-img" type="file" accept="image/*" >
                                </div>
                            </div>
                        {% else%}
                            <!----------------------------------
                                글 수정 : 이미지 수정(기존 이미지 X)
                            ------------------------------------>
                            <div class="twit-update-img twit-img-{{twit.id}}">
                                <input class="changeOrNewImg" type="hidden" value="newImg"> 

                                <img id="change-img-preview" src="" alt="" width="150">
                                <input id="change-img-url" type="hidden" value="${imgsrc}"> 
                                
                                <div class="twit-img-upload">
                                    <label id="img-label" for="twit-inputimg-{{twit.id}}">이미지 추가</label>
                                    <input id="twit-inputimg-{{twit.id}}" class="change-img input-img" type="file" accept="image/*" >
                                </div>
                            </div>
                        {% endif %}
                        
                        
                    </div>

                    <!-- 작성일 / 수정일 -->
                    <div class="twit-created-group">
                        {% if twit.createdAt == twit.updatedAt %}
                            <div>작성일 : {{twit.createdAt}}</div>
                        {% else %}
                            <div>작성일 : {{twit.createdAt}}</div>
                            <div>수정일 : {{twit.updatedAt}}</div>
                        {% endif %}
                    </div>

                    <!-- 수정 / 삭제 -->
                    <div class="twit-update-delete-group">
                        {% if user %}
                            {% if twit.postUserId === user.id%}
                                <div class="twit-btn-{{twit.id}}">
                                    <button class="btn" onclick="updatePost({{twit.id}})">수정</button>
                                    <button class="btn" onclick="deletePost({{twit.postUserId}},{{twit.id}})">삭제</button>   
                                </div>

                                <!----------------------------------
                                    글 수정 : 수정 완료 버튼
                                ------------------------------------>
                                <div class="twit-updateOk twit-updateOk-btn-{{twit.id}}">
                                    <button type="button" class="btn" onclick="updateOkPost({{twit.postUserId}},{{twit.id}})">수정완료</button>
                                    <button type="button" class="btn" onclick="location.href='/'">취소</button>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}   
    
    </div>
<!-- main.html end -->
{% endblock %} 

{% block script %}
<script src="/main.js"></script>
{% endblock %}
