:root{
    --box_shodow : rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    --box_shodow_point : rgba(0, 0, 0, 0.18) 0px 2px 4px;
    --box_shodow_block : rgba(0, 0, 0, 0.08) 0px 4px 12px;
    --sub-point-color: #75A62D;
    --sub-pale-color: #CBD99A;
    --sub-pale-color-light: #cbd99a9c;
    --bold-point-color : #401C8C;
    --pale-color : #928FA6;
    --backgroud-color : #3f1c8c29;
    --backgroud-pale-color : #3f1c8c10;
}

/* #D9D9D9 : gray */

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
}

.container{
    width: 90%;
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    overflow: scroll;
}

/* 화면 600px 이상부터 적용 */
@media screen and (min-width: 750px){
    .container{
        display: flex;
    }

    .profile-wrap{
        height: 270px;
    }
}

/* ------------------------------
    컨테이너 오른쪽 부분 
   ------------------------------ */
.timeline{
    width: 100%;
    min-width: 300px;
    height: 100vh;
}

/* ------------------------------
    버튼 공통
   ------------------------------ */
.btn{
    padding: 5px 15px 5px 15px;
    
    /* button */
    border: none;   
    background-color: transparent;
    
    /* a */
    color: var(--pale-color);
    text-decoration: none;  

    box-shadow: var(--box_shodow);
    font-size: medium;

    border-radius: 10px;
    cursor: pointer;
}

.btn:hover{
    color: var(--bold-point-color);
    font-weight: bold;
    box-shadow: var(--box_shodow_point);
}

/* ------------------------------
    input 공통
   ------------------------------ */
.input-group{
    margin-bottom: 20px;
}

input,
textarea{
    padding: 10px 5px 10px 5px;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: var(--box_shodow);
    background-color: transparent;
}

input:focus{
    box-shadow: var(--box_shodow_point);
}

/* ------------------------------ 
   layout 
   ------------------------------ */
.profile-wrap{
    width: 100%;
    min-width: 300px;
    max-width: 300px;

    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: var(--box_shodow_block);
    border-radius: 20px;
}

/* ------------------------------ 
   layout : 로그인 된 상태
   ------------------------------ */
.login-status .followers{
    height: 110px;
    margin-bottom: 10px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-status .followers .half{
    width: 45%;
}

.login-status .followers .half div{
    padding: 3px 0px 5px 0px;
    text-align: center;
} 

.login-status .followers .half div:nth-child(1){
    font-size: 15px;
}

.login-status .followers .half div:nth-child(2){
    font-size: 20px;
    font-weight: bold;
    color: var(--sub-pale-color);
}

.login-status .followers .half div:nth-child(2):hover{
    color: var(--sub-point-color);
}

.profile-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.profile-btn a{
    text-align: center;
}

/* ------------------------------ 
   layout : 로그인 안된 상태
   ------------------------------ */
#login-form .input-group{
    display: flex;
    flex-direction: column;
}

#login-form .input-group label{
    margin-bottom: 10px;
}

#login-form .input-group input{
    width: 100%;
}

.input-btn-group{
    display: flex;
    justify-content: space-between;
}

.input-btn-group div{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.input-btn-group a,
.input-btn-group button{
    margin: 5px;
    text-align: center;
}

/* ------------------------------ 
   main 
   ------------------------------ */
.hashtag-search{
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
}

#hashtag-form input{
    width: 200px;
}

/* ------------------------------ 
   main : 트윗 작성
   ------------------------------ */
#twit-form, .twit{
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: var(--box_shodow_block);
}

#twit-form{
    background-color: var(--backgroud-pale-color);
}

#twit-form textarea{
    width: 100%;
    padding: 20px;
    background-color: white;
}

.twit-img-upload{
    display: flex;
    justify-content: space-between;
}

.twit-img-upload #img-label{
    padding: 8px 12px 8px 12px;
    border-radius: 4px;
    background-color: var(--sub-pale-color-light);
    color: var(--pale-color);
    letter-spacing: 0.8px;
    cursor: pointer;
    z-index: 1;
}

.twit-img-upload #img-label:hover{
    color: var(--bold-point-color);
    font-weight: bold;
}

.twit-img-upload #img{
    display: none;
}

.twit-img-upload .btn{
    background-color: var(--sub-pale-color-light);
}

/* ------------------------------ 
   main : 작성한 트윗
   ------------------------------ */
.twit{
    background-color: var(--sub-pale-color-light);
}

.twit-group{
    background-color: white;
    border-radius: 1rem;
    box-shadow: var(--box_shodow);
}

.twit-author-group{
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
}

.twit-author{
    font-weight: bold;
    font-size: large;
}

.twit-content-group{
    padding: 0px 20px 0px 20px;
}

.twit-content{
    padding-bottom: 10px;
}

.twit-img{
    padding-bottom: 10px;
}

/* ------------------------------ 
   join 
   ------------------------------ */
#join-form{
    width: 80%;
    max-width: 380px;
    margin: auto;
    padding-top: 10px;
}

#join-form .input-group label{
    display:inline-block;
    width: 60px;
    margin-right: 10px;
    text-align: center;
}

#join-form .input-group input{
    width: 100%;
    max-width: 300px;
}

.join-btn-group{
    display: flex;
    justify-content: center;
}

.join-btn-group button{
    width: 120px;
}

.join-btn-group button:nth-child(1){
    margin-right: 20px;
}

/* ------------------------------
    profile : 팔로잉, 팔로워 목록
   ------------------------------ */
.follow-top{
    display: flex;
    padding:10px;
    justify-content: right;
}

.follow{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.follow .half{
    width: 100%;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid var(--backgroud-pale-color);
}

.follow .half h2{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    background-color: var(--backgroud-pale-color);
}

.follow .half .group{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(1, 2fr 1fr);
}

.follow-btn{
    background-color: transparent;
    border: none;
    color: var(--pale-color);
    cursor: pointer;
}

.follow-btn:hover{
    font-weight: bold;
    color: var(--bold-point-color);
}