*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
div{
    margin: 10px;
}
fieldset{
    max-width: 700px;
}
table{
    width: 100%;
    max-width: 700px;
    border-collapse: collapse;
}
th, td{
    border: 1px solid black;
    padding: 5px;
}


.container{
    max-width: 700px;
    margin: auto;
}

.resultTab{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* -- 버튼 구역 -- */
.btn_area{
    height: 30px;
}
.btn{
    background-color: transparent;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    border: 1px solid black;
}

.btn:hover{
    background-color: rgb(220, 195, 199);
    font-weight: bold;
    border: 2px solid black;
}

/* 댓글 결과 테이블 수정, 삭제 버튼 구역 */
.cmt_Tbody tr td:nth-child(4),
.cmt_Tbody tr td:nth-child(5){
    text-align: center;
}